{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ neutron_append_javascript('bundles/neutronadmin/category/category-form.js') }}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header><h2>Headings</h2></header>
            {{ form|raw }}
       
		</article>

	</div>
</div>

{% endblock %}