{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ neutron_append_javascript('bundles/neutronadmin/category/index.js') }}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header class="divider"><h2>Headings</h2></header>
		 	<div id="messages">
    		 	{% for flashMessage in app.session.flashbag.get('neutron_admin_tree_success') %}
                    <div class="msg success"><p> {{ flashMessage }}  </p><a class="close">×</a></div>
                {% endfor %}
		 	</div>
		 	{{ neutron_tree(mainTree) }}
		</article>

	</div>
</div>
{% endblock %}