{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block javascripts %}
    {{ neutron_append_javascript('bundles/neutronadmin/category/index.js') }}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header class="divider"><h2>Headings</h2></header>
		 	<div class="grid3">
    			<div class="block">
    			    <h2>Categories</h2>
        			<div class="container">
        			    <div class="body">
        			        {{ neutron_tree(mainTree) }}
        			    </div>
        			</div>
    			</div>
		    </div>
		    <div class="grid8">
    		    <article class="panel">
    		 	    {{ neutron_datagrid(grid) }}          
    		    </article>
		    </div>
		</article>
	</div>
</div>
{% endblock %}